---
title: Getting Started
---

= partial 'partials/navbar'
%section
  %h1
    Get Started
  %h4
    Here are some useful resources to get started in Machine Learning
  :markdown
    If you feel overwhelmed or have questions, ask on our [slack](/slack)!

    + First, [Download python](https://www.python.org/downloads). Before doing so, you can check to see if you already have Python installed by opening a Terminal (Mac or Linux) or Command Prompt (Windows) and typing `python` or `python3`. If a shell opens, note the version number. For Tensorflow to work effectively, we recommend using **at least Python 3.6.7**.
    + Once you have Python installed, pip should be installed by default. Try the following commands to install OpenAI Gym: `pip install gym`. If this doesn’t work, try the variants: `python -m pip install gym` or `py -m pip install gym` or `pip3 install gym`. **This will be dependent upon what command you type in the shell to make Python run.**
    + Once you have Gym installed, begin working through the [Documentation tutorial](https://gym.openai.com/docs). To get the code running, we recommend either using [Wing101 Ide](https://wingware.com/downloads/wingide-101), [Visual Studio Code](https://code.visualstudio.com/), or [Sublime Text Editor](https://www.sublimetext.com/). 
    + For two more non-standard IDE’s, consider using [Atom](https://atom.io/) or [Jupyter Notebook](http://jupyter.org/). For the latter, type `pip install jupyter` [*see variants above*]. 
    + If you want some fun challenging exercises in Python to start playing around, consider
        + [Code Academy](https://www.codecademy.com/learn/learn-python)
        + [Learn Python Tutorials](https://www.learnpython.org/)
        + [Challenging exercise](https://www.codewars.com/collections/basic-python)
    + After this, we began working through this series of [OpenAI Gym tutorials](https://pythonprogramming.net/openai-cartpole-neural-network-example-machine-learning-tutorial/). We went through the first two steps of making the initial population.
    + To apply neural networks, we have to then use Tensorflow. For the basics of Tensorflow:
        + [Tutorials Page](https://www.tensorflow.org/tutorials)
        + Adventures in Machine Learning:
            + [Tensorflow](http://adventuresinmachinelearning.com/python-tensorflow-tutorial/)
            + [Neural Networks](http://adventuresinmachinelearning.com/neural-networks-tutorial/)
            + [Deep Q Learning](http://adventuresinmachinelearning.com/reinforcement-learning-tensorflow/).
        + [Keras Activation](https://www.tensorflow.org/api_docs/python/tf/keras/activations)

%section
  %h1
    Datasets
  %h4
    These are some free datasets to use
  :markdown
    + [Google Dataset Search](https://datasetsearch.research.google.com/)
    + From hands-on ML by Geron:
        + Open Repos
            + [UC Irvine ML Repo](http://archive.ics.uci.edu/ml/)
            + [Kaggle datasets](https://www.kaggle.com/datasets)
            + [AWS datasets](http://aws.amazon.com/fr/datasets/)
        + Meta portals
            + [Data Portals](http://dataportals.org/search)
            + [OpenDataMonitor](http://opendatamonitor.eu/)
            + [Quandl](http://quandl.com/)
        + Others
            + [Wikipedia](https://goo.gl/SJHN2k)
            + [Quora](http://goo.gl/zDR78y)
            + [Subreddit](https://www.reddit.com/r/datasets)
    + [Wikipedia main one](https://en.wikipedia.org/wiki/List_of_datasets_for_machine-learning_research)

%section
  %h1
    University of Alberta Courses
  %table.table
    %tbody
      %tr
        %th
          Course Name
        %th
          Course Number
        %th
          Days and Time
      - data.resources.classes.each do |c|
        %tr
          %td
            = c.name
          %td
            = c.number
          %td
            = "%s %s" % [c.days, c.time] 

%section
  %h1
    Popular Lectures
  %h3
    General Machine Learning
  - data.resources.lectures.general.each do |l|
    %p
      %a.block{href: l.link}
        = l.title
      = l.desc
  %h3
    Reinforcement Learning
  - data.resources.lectures.rl.each do |l|
    %p
      %a.block{href: l.link}
        = l.title
      = l.desc
  %h3
    Deep Learning
  - data.resources.lectures.deep.each do |l|
    %p
      %a.block{href: l.link}
        = l.title
      = l.desc

%section
  %h1
    Miscellaneous
  - data.resources.etc.each do |e|
    %p
      %a.block{href: e.link}
        = e.title
      = e.desc
