<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title +  " | Undergraduate Artificial Intelligence Society" %></title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css"/>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <script defer src="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js"></script>
    <script defer src="https://unpkg.com/@fullcalendar/list@4.3.0/main.min.js"></script>
    <script defer src="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js"></script>
    <script defer src="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js"></script>
    <script defer src="https://unpkg.com/@fullcalendar/google-calendar@4.3.0/main.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/list@4.3.0/main.min.css">
    <link rel="icon" type="image/ico" href="images/favicon.ico"/>
    <script><%= current_page.data.javascript %></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>