- blood_group = ['A', 'B', 'AB', 'O']
- blood_rh = ['-', '+']

.biography.col-md-12.col-8
  %img.pic.show-md.p-centered{src: 'images/headshots/' + person.img + '.jpg', alt: 'head shot'}
  .title
    %h2
      = '%s %s' % [person.name, person.emoji]
    %h3
      = person.position
  .info
    %img.pic.hide-md{src: 'images/headshots/' + person.img + '.jpg', alt: 'head shot'}
    .description
      %p
        = person.description
      %a{:href => 'https://github.com/' + person.github, :target => 'blank'}
        %i.fab.fa-github
        GitHub
      %p
        %span
          %i.fab.fa-slack.green
          = '@' + person.slack
      %p.green
        Blood Type:
        %span.blood
          = blood_group[rand(blood_group.length)] + blood_rh[rand(blood_rh.length)]
      %p.green
        SIN:
        %span.white
          = '%03d %03d %03d' % [rand(1000), rand(1000), rand(1000)]
      %p.green
        Credit Card PIN:
        %span.white
          = '%03d' % [rand(1000)]
