---
import { Picture } from '@astrojs/image/components'
import Flicking from '@egjs/vue3-flicking'
import type { FlickingOptions, Plugin } from '@egjs/vue3-flicking'
import { AutoPlay } from '@egjs/flicking-plugins'

const main: Partial<FlickingOptions> = {
	align: 'prev',
	circular: true,
}
const plugins: Plugin[] = [new AutoPlay()]
const images = await Astro.glob('/public/images/events/*.jpg')
---

<section class='section'></section>
		<h2 class='title'>Event Images</h2>
		<p>Some images from our past events!</p>
		<Flicking options={main} plugins={plugins} />
			{images.map((image, i) => <Picture
				key={i}
				src={image}
				alt={`Event Image #${i}`}
				sizes='(min-width: 1024px) 673px, 100vw'
				widths={[673]}
				aspectRatio={1}
				fit='contain'
				class='panel'
				format='webp'
				loading='lazy'
			/>)}

<style lang='sass'>
@import url('@egjs/vue3-flicking/dist/flicking.css')

.panel
	object-fit: contain
	box-shadow: none
</style>
