---
import { Image } from '@astrojs/image/components'
const images = (await Astro.glob('/public/images/events/*.jpg'))
	.map(i => i.default)
const dimension = 675;
---

<section class='section'>
		<h2 class='title'>Event Images</h2>
		<p>Some images from our past events!</p>
		<div id='flick' class='flicking-viewport'>
			<div class='flicking-camera'>
				{images.map((image, i) =>
					<Image
						key={i}
						src={image.src}
						alt={`Event Image #${i}`}
						width={dimension}
						height={dimension}
						fit='contain'
						class='panel'
						format='webp'
						loading='lazy'
						background='rgba(0, 0, 0, 0)'
					/>
				)}
			</div>
		</div>
</section>

<style lang='sass' define:vars={{ dimension: `${dimension}px` }} >
@import url('@egjs/flicking/dist/flicking.css')

#flick
	height: var(--dimension)

.panel
	object-fit: contain
	box-shadow: none
</style>

<script>
import Flicking from '@egjs/flicking'
import { AutoPlay } from '@egjs/flicking-plugins'

const flicking = new Flicking('#flick', {
	renderOnlyVisible: true,
	circular: true,
	align: 'prev'
})
flicking.addPlugins(new AutoPlay())
</script>
