---
import Headshot from '@components/Headshot.astro'

const {
	key,
	name,
	position,
	description,
	github,
	discord,
	linkedin,
} = Astro.props

// The functions for random data are not used, but we'll leave them to not break anything unexpected.
const randomBloodType = () => {
	const bloodGroup = ['A', 'B', 'AB', 'O']
	const bloodRh = ['-', '+']
	const blood = bloodGroup.flatMap(group => bloodRh.map(rh => group + rh))

	return blood[Math.floor(Math.random() * blood.length)]
}

const rand3Digits = () => {
	const randNum = Math.floor(Math.random() * 1000)
	return String(randNum).padStart(3, '0')
}

const randomSIN = () => `${rand3Digits()} ${rand3Digits()} ${rand3Digits()}`
---

<div class="box">
	<article class="media">
		<figure class="media-left">
			<Headshot imgFile={github} alt={name}></Headshot>
		</figure>
		<div class="media-content">
			<h2 class="title has-text-primary">{ name }</h2>
			<h3 class="subtitle is-3 has-text-info">{ position }</h3>
			
			{/* --- MODIFIED --- This paragraph will only be rendered if a description exists */}
			{description && <p>{ description }</p>}

			<div class="tag is-info"><span class="icon">
					<i class="fa-brands fa-github"></i>
				</span><a href={`https://github.com/${github}`}>{ github }</a></div>
			<div class="tag is-info"><span class="icon">
				<i class="fa-brands fa-discord"></i>
				</span><span>{ discord }</span></div>
			<div class="tag is-info"><span class="icon">
					<i class="fa-brands fa-linkedin"></i>
				</span><a href={`https://linkedin.com/in/${linkedin}`}>{ linkedin }</a></div>
		</div>
	</article>
</div>

<style lang="sass">
@import '../styles/_variables'

.box .tag
	margin-top: 1rem
	margin-bottom: 1rem
	margin-right: .5rem

	&:last-of-type
		margin-right: 0

	a
		color: $white-ter

// --- NEW --- Add a little space above the tags if there is no description
.media-content p + .tag
	margin-top: 1rem

</style>