---
import Layout from '@layouts/Default.astro'
import resources from '@data/resources.json'

const projects = resources.projects
---

<Layout title='Projects'>
    <div style="height: 90vh;">
   	{projects.map(project =>
		<section class="section">
			<h1 class="title">{project.emoji}{project.title}</h1>
			<h4 class="subtitle">{project.name}</h4>
			<a href={project.link}>Link to project page!</a>
			<p>{project.desc}</p>
		</section>
	)}
    </div>
</Layout>

